.company {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}
button:hover {
    background-color: #003566;
    color: white;
    border-color: #1d3557;
    border
    border-radius: 5px;
    box-shadow: 0 .5em .5em -0.4em #003566;
    transform: translateY(-0.25em);
    
}
button{
    padding: .2em;
    border-radius: 5px;
    background-color: grey;
    border-style: solid;
    transition: all 0.25s;
    
}
h1 {
    margin-bottom: 0px;
}
section{
width: auto;
height: auto;
background-image: url("barber-tool.jpeg");
background-size: cover;
background-position: bottom;


color: white;
}
