.company {
    font-family: brush script mt;
    font-size: 80px;
}
button:hover {
    background-color: #003566;
    color: white;
}
}
button{
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: grey;
}
h1::first-letter{
    font-size: 93px;
}
h1 {
    margin-bottom: 0px;
}
